@model Projekt.Data.Data.Sklep.Danie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Danie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Opis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KategoriaId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KategoriaId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FotoURL)
        </dt>
        <dd class="col-sm-10">
            @if (Model.FotoURL != null)
            {
                <img src="data:image;base64,@Convert.ToBase64String(Model.FotoURL)" alt="@Model.FotoURL" class="img-thumbnail" style="max-width: 100px; max-height: 100px; background-color:transparent; border: none;" />
            }
        </dd>
    </dl>
</div>
<div>
    <button class="mdc-button mdc-button--unelevated filled-button--warning mdc-ripple-upgraded" style="--mdc-ripple-fg-size:55px; --mdc-ripple-fg-scale:1.98546; --mdc-ripple-fg-translate-start:26.5px, -4.5px; --mdc-ripple-fg-translate-end:18.7188px, -9.5px;">
        <i class="material-icons mdc-button__icon">colorize</i>
        <a asp-action="Edit" asp-route-id="@Model?.IdDania" class="mdc-button mdc-button--unelevated filled-button--warning mdc-ripple-upgraded">Edit</a>
    </button>
    <br />
    <div>
        <a asp-action="Index" class="mdc-button mdc-button--outlined outlined-button--dark mdc-ripple-upgraded" --mdc-ripple-fg-translate-end:14.3828px, -2.5px;">Powrót do listy</a>
    </div>
</div>
