@model Projekt.PortalWWW.Models.Sklep.DaneDoKoszyka

@{
    ViewData["Title"] = "Koszyk";
    Layout = "~/Views/Shared/_KoszykLayout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/cart.css" />


            </head>
<body class="">
    <div class="container">
                   
        <header>
            <a href="Sklep/Index"> <h1>Powrót</h1></a>            <br />
            <br />

            <h1>Koszyk</h1>

            <div class="shopping">
                <img src="~/css/shopping.svg">
                <span class="quantity">@Model.ElementyKoszyka.Count</span>
            </div>

        </header>

        <div class="list">
                @foreach (var item in Model.ElementyKoszyka)
                {
            <div class="item" @item.Danie.Nazwa>
            @if (item.Danie.FotoURL != null)
            {
                <img src="data:image;base64,@Convert.ToBase64String(item.Danie.FotoURL)" alt="@item.Danie.FotoURL" />
            }
            <div class="title">@Html.Raw(item.Danie.Nazwa)</div>
            <div class="price">@String.Format("{0:F}",item.Danie.Cena) zł</div>
        </div>
        }       
        
    </div>
    </div>

    <div class="card">
        <h1>Card</h1>
        <ul class="listCard">
            <li>
                @foreach (var item in Model.ElementyKoszyka)
                {
                    <div class="item" @item.Danie.Nazwa></div>
                        @if (item.Danie.FotoURL != null)
                        {
                                                                <img src="data:image;base64,@Convert.ToBase64String(item.Danie.FotoURL)" alt="@item.Danie.FotoURL" />
                        }
                <div>@Html.Raw(item.Danie.Nazwa)</div>
                <div>@String.Format("{0:F}",item.Danie.Cena)</div>
                }
                </li>
        
        </ul>

        <div class="checkOut">
            <div class="total">Wartość koszyka @String.Format("{0:F}",Model.Razem)</div>
            <div class="closeShopping">Zamknij</div>
        </div>
    </div>
    



    <script src="/app.js"></script>
</body>
</html>